<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find an activity!</title>
</head>

<body>
    <div class="activityform">
        <form method="POST">
            <label for="type">What type of activity are you looking for? (education, recreational, social, diy, charity, cooking, relaxation, music, busywork)</label>
            <input name="type">
            <input type="submit">
        </form>
    </div>
    <div class="results-list">
        <ul>
            {% for key, value in response.items() %}
            <li>{{ value }}</li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>